[user]
    name = Fernando Heck
    email = heckfer@gmail.com
    username = heckfer

[color]
    ui = auto
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore_global
[interactive]
	diffFilter = diff-so-fancy --patch
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[maintenance]
	repo = /Users/fheck/projects/ambush/papa-johns/mobile-app
[alias]
    cs = "!f() { \
        TASK_ID=$(cut -d'/' -f1 <<< $(git rev-parse --abbrev-ref HEAD)); \
        COMMIT_MESSAGE="[${TASK_ID}] "; \
        git commit --verbose --edit $@ --message "\"${COMMIT_MESSAGE}\""; \
    }; f"

    delete-merged-branches = "!git checkout main && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
